@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Mode Defaults */
  --bg-main: #f3f4f6;       /* gray-100 */
  --bg-sidebar: #ffffff;    /* white */
  --bg-card: #ffffff;       /* white */
  --bg-hover: #f9fafb;      /* gray-50 */
  --bg-input: #f3f4f6;      /* gray-100 */
  --border-color: #e5e7eb;  /* gray-200 */
  --text-main: #111827;     /* gray-900 */
  --text-muted: #6b7280;    /* gray-500 */
}

.dark {
  /* Dark Mode Defaults */
  --bg-main: #050505;
  --bg-sidebar: #0a0a0a;
  --bg-card: #0f0f0f;
  --bg-hover: #1a1a1a;
  --bg-input: #0a0a0a;
  --border-color: #1f1f1f;
  --text-main: #e5e5e5;
  --text-muted: #9ca3af;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}